<accordion>
  <group title="Dashboard" icons="fa fa-book">
      <div class="col-md-12">
     Heading
      </div>
      <div class="row">
          <div class="col-md-4">
            first
          </div>
          <div class="col-md-4">
              second
          </div>
          <div class="col-md-4">
             third
          </div> 
      </div>                
  </group>
  <group title="Calendar" icons="fa fa-calendar">
      <div class="col-md-12">
          Heading
           </div>
           <div class="row">
               <div class="col-md-4">
                 first
               </div>
               <div class="col-md-4">
                   second
               </div>
               <div class="col-md-4">
                  third
               </div> 
           </div>                
  </group>
</accordion>

