 .accordionPanel {
     margin:1em;
 }
  .accordionPanel .titleBar {
    background-color: rgba(102, 102, 102, 1);
    color:white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #666;
  }

  .accordionPanel .title {
      margin:5px;
      font-size:20px;
  }
  
  .accordionPanel .body {
    padding: 10px;
  }
  
  .accordionPanel .body.hidden {
    display: none;
  }

  .expandCollapseIcon {
      float:right;
      font-size:20px;
      margin: 0px 10px;  
  }

  .headerIcon {
      float:left;
      font-size:20px;
      margin:0px 10px;
  }

  .open::after {
    content: "\2295";
  }

  .close::after {
    content: "\2296";
  }

  .icon::after {
    content: "\1F4C1";
  }